# Python
__pycache__/
*.py[cod]
venv/
.env
# FastAPI
instance/
*.db

# Node/Vue
node_modules/
dist/
.env.local
.env.*.local

# Java
target/
*.class
*.jar
*.war

# Maven
.mvn/wrapper/maven-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
/app/logs/